<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>Create a MadLibs</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  </head>
  <body>
    <div class="container">
      <h1>Fill in the boxes to create a custom MadLibs!</h1>
      <form action="/story" method="post">
        <label for="noun">Noun:</label>
        <input id="noun" name="noun" type="text"><br>
        <label for="verb">Verb, past tense:</label>
        <input id="verb" name="verb" type="text"><br>
        <label for="adverb">Adverb:</label>
        <input id="adverb" name="adverb" type="text"><br>
        <label for="adjective">Adjective:</label>
        <input id="adjective" name="adjective" type="text"><br>
        <label for="noun2">Noun #2:</label>
        <input id="noun2" name="noun2" type="text"><br>
        <label for="noun3">Noun #3:</label>
        <input id="noun3" name="noun3" type="text"><br>
        <label for="adjective2">Adjective #2:</label>
        <input id="adjective2" name="adjective2" type="text"><br>
        <label for="verb2">Verb #2:</label>
        <input id="verb2" name="verb2" type="text"><br>
        <label for="adverb2">Adverb #2:</label>
        <input id="adverb2" name="adverb2" type="text"><br>
        <label for="verb3">Verb #3, past tense:</label>
        <input id="verb3" name="verb3" type="text"><br>
        <label for="adjective3">Adjective #3:</label>
        <input id="adjective3" name="adjective3" type="text"><br>
        <label for="exclamation">Exclamation:</label>
        <input id="exclamation" name="exclamation" type="text"><br>
        <button type="submit">Go!</button>
      </form>
    </div>
  </body>
</html>