<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>Create a MadLibs</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  </head>
  <body>
    <h1>Fill in the boxes to create a custom MadLibs!</h1>
    <form action="/story" method="post">
      <label for="noun">Noun:</label>
      <input id="noun" name="noun" type="text"><br>
      <label for="adjective">Adjective:</label>
      <input id="adjective" name="adjective" type="text"><br>
      <label for="verb">Verb:</label>
      <input id="verb" name="verb" type="text"><br>
      <label for="adverb">Adverb:</label>
      <input id="adverb" name="adverb" type="text"><br>
      <label for="exclamation">Exclamation:</label>
      <input id="exclamation" name="exclamation" type="text"><br>
      <button type="submit">Go!</button>
    </form>
  </body>
</html>